@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
body {
	background: url(Image/realite_augmentee.jpg) center center fixed;
	-webkit-background-size: cover;
}
#accueil {
	max-width: 500px;
	display: block;
	margin: 200px auto 200px auto;
}
.element1 {
	max-width: 0;
	display: block;
	border-right: 100px solid rgba(255, 255, 255, 0.7);
	border-top: 50px solid transparent;
}
.element2 {
	max-width: 0;
	display: block;
	border-left: 100px solid rgba(255, 255, 255, 0.7);
	border-bottom: 50px solid transparent;
	float: right;
}
.trianglebottom {
	overflow: auto;
	display: block;
	border-right: 100vw solid #fff;
	border-top: 50px solid transparent;
	margin-top: 100Px;
}
#corps {
	padding-left: 12.5%;
	padding-right: 12.5%;
	background-color: white;
	overflow: auto;
}
#corps_texte {
	width: 63%;
	float: left;
	background-color: white;
	padding: 0 2% 0 2%;
}
#colonne_droite {
	width: 33%;
	float: left;
}
#objectifs {
	border-top: 10px solid lightgrey;
}
#savoir {
	margin-top: 20px;
	border-top: 10px solid lightgrey;
}
nav {
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	width: 100%;
	height: 60px;
	top: 0;
}
nav ul {
	margin: 20px;
	text-align: right;
}
nav li {
	display: inline;
	font-size: 1em;
	margin-left: 30px;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
#accueil h1, #accueil h2 {
	background-color: white;
}
#colonne_droite ul {
	margin: 20px;
	text-align: left;
}
#colonne_droite li {
	font-size: 1em;
	margin-left: 5px;
  display: list-item;
  list-style: none;
  margin-bottom: 10px;
}
h1 {
	font-size: 3em;
	text-align: center;
	color: #333;
	font-weight: 300;
	padding-bottom: 30px;
	background-color: #fff;
}
h2 {
	color: #333;
	font-weight: 400;
	max-width: 500px;
	display: block;
	margin: auto;
	background-color: #fff;
	padding: 0 20px 20px 20px;
	text-align: center;
}
h3 {
	color: #333;
	font-weight: 400;
	max-width: 500px;
	display: block;
	margin: auto;
	padding: 0 20px 20px 20px;
	text-align: center
}
nav img {
	height: 50px;
	margin: 5px;
	float: left;
}

#
