*{  margin: 0;
  padding: 0;}
body{
  background-color: red;

}
#corps{
  margin-left: 12.5%;
  margin-right: 12.5%;
  background-color: green;
}

#corps_texte{
  width: 67%;
  float: left;
  background-color: green;
}

#colonne_droite{
  width: 33%;
  float: left;
}

#objectifs{
  background-color: pink;
}

#savoir{
  margin-top:20px;
  background-color: blue;
}

img{
  width: 100%;
  margin-top: 50px;
}
nav {
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	width: 100%;
	top: 0;
}
ul {
	margin: 20px;
	text-align: right;
}
li {
	display: inline;
	font-size: 1em;
	margin-left: 30px;
}
a {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
